<br />
<ol class="breadcrumb">
  <li><a href="/app">Home</a></li>
  <li><%= link "Candidates", to: candidate_path(@conn, :index) %></li>
  <li class="active">Edit</li>
</ol>

<h3>Edit candidate</h3>

<%= render "form.html", changeset: @changeset,
                        candidate: @candidate,
                        current_organisation: @current_organisation,
                        action: candidate_path(@conn, :update, @candidate) %>
