<br />
<ol class="breadcrumb">
  <li><a href="/app">Home</a></li>
  <li class="active">Candidates</li>
</ol>

<board
  :candidates="<%= candidates_data(@candidates) %>"
  :stages="<%= stages_data(@stages) %>"
  >
</board>

<%= link "Add candidate", to: candidate_path(@conn, :new), class: "btn btn-primary btn-raised btn-sm" %>
