.row
  .col-md-offset-4.col-md-4
    %div{:style => "text-align: center;"}
      %h1.logo.h1-logo

    = render "form.html", changeset: @changeset, label: "Register", required: [required: ""], action: registration_path(@conn, :create)
