%br
%ol.breadcrumb
  %li
    %a{:href => "/app"} Home
  %li= link "Users", to: user_path(@conn, :index)
  %li.active= @user.name

%h3 Settings
= render "form.html", changeset: @changeset, action: user_path(@conn, :update, @user), user: @user
