%br
%ol.breadcrumb
  %li
    %a{:href => "/"} Home
  %li
    = link "Interview Stages", to: stage_path(@conn, :index)
  %li
    = @stage.name
  %li.active
    Edit

%h3 Edit stage
= render "form.html", changeset: @changeset, action: stage_path(@conn, :update, @stage)

