%br
%ol.breadcrumb
  %li
    %a(href="/app") Home
  %li
    = link "Interview Stages", to: stage_path(@conn, :index)
  %li.active
    New

.bs-component
  .panel.panel-default
    .panel-heading
      %h3.panel-title New stage
    .panel-body
      = render "form.html", changeset: @changeset, action: stage_path(@conn, :create)
