<h2>Show stage</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @stage.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @stage.description %>
  </li>

  <li>
    <strong>Organisation:</strong>
    <%= @stage.organisation_id %>
  </li>

</ul>

<%= link "Edit", to: stage_path(@conn, :edit, @stage) %>
<%= link "Back", to: stage_path(@conn, :index) %>
