%br
%ol.breadcrumb
  %li
    %a(href="/app") Home
  %li
    = link "Job Board", to: job_path(@conn, :index)
  %li
    = @job.title
  %li.active
    Edit

.bs-component
  .panel.panel-default
    .panel-heading
      %h3.panel-title Edit Job
    .panel-body
      = render "form.html", changeset: @changeset, action: job_path(@conn, :update, @job)
