%br
%ol.breadcrumb
  %li
    %a(href="/app") Home
  %li
    = link "Job Board", to: job_path(@conn, :index)
  %li
    = @job.title
  %li.active
    Edit

%h3 Edit job

= render "form.html", changeset: @changeset, action: job_path(@conn, :update, @job)
