%br
%ol.breadcrumb
  %li
    %a(href="/app") Home
  %li.active
    Job Board

%h3 Job Board

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Title
      %th Description
      %th Type
      %th
  %tbody
    - for job <- @jobs do
      %tr
        %td= link job.title, to: job_path(@conn, :edit, job)
        %td= raw job.description
        %td= job.type
        %td.text-right(style="white-space: nowrap;")
          - link to: job_path(@conn, :delete, job), method: :delete, data: [confirm: "Are you sure?"], class: "small-trash" do
            %span.glyphicon.glyphicon-trash

= link "New job", to: job_path(@conn, :new), class: "btn btn-sm btn-primary btn-raised"
%br
%br
