.logo {
  display: inline-block;
  background-image: url("/images/logo.png");
  width: 165px;
  height: 30px;
  display: inline-block;
  margin-bottom: 1em;
  background-size: 165px 30px;
}

a {
  color: #2f3234;
}

.h1-logo {
  margin-bottom: 0;
  width: 250px;
  height: 42px;
  background-size: 250px 42px;
}

.dropdown-menu li .btn-link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.navbar-avatar {
  width: 36px;
  border-radius: 100%;
  margin: 0 0 0 5px;
}

/* Public Job page */

.company_container {
  font-family: 'Merriweather', serif;
}

.public-footer {
  margin-top: 10px;
  border-top: 1px solid #ababab;
  background-color: #d0d0d0;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.hh-social-button {
  font-size: 30px;
  margin-right: 5px;
}

.hh-job-row {
  padding: 0px 10px;
  border-left: 4px #e5e5e5 solid;
  margin-bottom: 12px;
}

/* END Public Job page */

.small-trash {
  font-size: 12px;
  color: #fc5830;
}

footer {
  background-color: rgba(196, 193, 193, 0.57);
  height: 50px;
  color: black;
  font-weight: 400;
}

.footer-content{
  padding-top: 15px;
}

/* Date picker */
.ranges {
  position: absolute ;
  left: 37px;
}
.daterangepicker .left {
  top: 50px !important;
  position: relative !important;
  height: 326px;
}

/* Override bootstrap */
.btn-primary, .btn-default, .btn-warning {
  border-color: transparent !important;
}

.form-group {
  padding-bottom: 0;
  margin: 0;
}

.form-group label {
  font-size: 14px !important;
  color: black;
}

.panel {
  border-radius: 2px;
    border: 0;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

/* END Override bootstrap*/

.thumbnail{padding:0; border-radius:0; border:none; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}
.thumbnail>img{width:100%; display:block}
.thumbnail h3{font-size:26px}
.thumbnail h3,.card-description{margin:0; padding:8px 0; border-bottom:solid 1px #eee; text-align:justify}
.thumbnail p{padding-top:8px; font-size:14px}
.thumbnail .btn{border-radius:0; box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); font-size:16px}

/* FOOTER */
.footer {
	background: #EDEFF1;
	height: auto;
	position: relative;
	width: 100%;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 7px 1px 0px 1px;
	color: #EDEFF1 !important;
}

.footer h4 {
	color: #54697E;
	font-size: 15px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
}
/* END FOOTER */
