/* This file is for your main application css. */

.header-menu {
  line-height: 60px;
}

.header-container {
  width: 100%;
}

ul.nav a {
  color: white;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.btn-group-vertical {
  margin-top: 0px;
  width: 100%;
}
.list-group-item:first-child {
  border-top: 0px;
}
.list-group-item {
  border-radius: 0px !important;
}

.no-padding-right {
  padding-right: 0px;
}

.alert {
  margin-bottom: 0px;
  border-radius: 0px;
}

.alert p {
  margin-bottom: 0px;
}

.col-md-10 {
  padding-right: 25px;
}

.btn-sidebar {
  text-align: left;
}

.hiring-card {
  box-shadow: 2px 2px 5px #9c9c9c;
}
