<div class="btn-group-vertical" role="group">
  <%= link "Dashboard", to: "/", class: "btn btn-raised" %>
  <%= link "Candidates", to: candidate_path(@conn, :index), class: "btn btn-raised" %>
  <%= link "Interviewees", to: "#", class: "btn btn-raised" %>
  <%= link "Interview Stages", to: "#", class: "btn btn-raised" %>
  <%= link "Calendar", to:  page_path(@conn, :calendar), class: "btn btn-raised" %>
</div>
